h2{
    font-style: normal;
    text-align: center;
    color: rgb(16, 16, 48);
}
img{
    justify-content: center;
    width: 300;
    height: 200;
}
p{
   
    font-weight: 600;
    font-size: large;
}
h6{
    font-style: italic;
}